doctype html
html
  head
    title SDA - #{pageName}
    block style 
  body 
    nav#navbar
        ul#navul 
            div#danceLogo
                img(src='../static/dance.png')#logo
                |SDA
            li #[a(href='/') Home] 
            li #[a(href='/about') About]
            li #[a(href='/services') Services ]
            li #[a(href='/contact') Contact Us]
            li #[a(href='/login') Log in ]
            block navbar
              li 
                a(href='/logout') 
                  button(type='button' style='padding:10px; font-size:20px; font-weight:bold')
                    |Log out
    block body
    section#introSection
        block intro
        

    block afterintro   
            
        
        
    footer#footer 
        | Copyright © 2023 Shadow Dance Academy
    
    block foot
    script(src='../static/index.js')
    block scripts
    
    
      