extends base.pug 
block scripts
    script(src="../static/contact.js") 

block style
    style 
        include ../static/style2.css
        include ../static/styleContact.css

block append intro 
    div#contact 
        div#contactHead
            |Contact Us
        div#contactBody
            form(onkeydown="return event.key != 'Enter';", id='contactForm') 
                input(type="text", class='myInput', name='name' placeholder='Enter your name')
                input(type="phone", class='myInput', name='phone' placeholder='Enter your phone')
                input(type="email", class='myInput', name='email' placeholder='Enter your email id')
                input(type="text", class='myInput', name='address' placeholder='Enter your address')
                input(type="text", class='myInput', name='desc' placeholder='Enter your concern')
                //-button(type="submit" class='myInput') 
                button(class='btn' id='submitContact')
                    