extends base.pug

block style
    style 
        include ../static/style2.css
        include ../static/styleLogin.css
block navbar
block append intro 
    form#loginContainer
        label(for="username") 
            |Register new account 
        if(messages)
            each message in messages 
                if(message.startsWith('U'))
                    h2(style='color:red')=message
                else 
                    h2(style='color:lightgreen')=message
        
        input(type="text", name='name' ,id='name' , placeholder='Enter your name', required autocomplete="off")
        input(type="text" ,name='email', id='email' , placeholder='Enter your email' ,required autocomplete="off")
        input(type="text", name='username', id='username' , placeholder='Enter username',required autocomplete="off")
        input(type="password", name='password' , id='password' ,placeholder='Enter password',required)
        button(type='submit', id='registerBtn' )
            |Register
        label(for="signup") 
            |Have an account?
            br
            |Login now
        a(href="/login")  
            button(type='button')
                |Login
block append scripts 
    script(src="../static/register.js") 